@import "tailwindcss";

@media print {
  @page {
    size: A4;
    margin: 12mm;
  }

  /* ensure backgrounds show */
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* repeat table headers, avoid row splits */
  thead {
    display: table-header-group;
  }
  tr,
  td,
  th {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  /* hide things like buttons */
  .no-print {
    display: none !important;
  }
}
.print-scroll {
  height: 100vh;
  overflow-y: auto;
}
